header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header h1 {margin: 0;}

.form label {
    display: block;
    padding-top: 1rem;
    color: navy;
    font-size: .9rem;
}

.form input[type="text"],
.form input[type="date"],
.form textarea,
.form select{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}


/* stars */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}

.form input[type="required"]{
    border-left: solid 8px darkblue;
}

.form input:required:valid {
    border-left: solid 8px green;
}

.form fieldset {
    margin: 2rem;
    border: 1 px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    background-color: #aac7cc;
}

.form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}


footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    /* border: 10px solid var(--secondary-color); */
    border-radius: var(--border-radius);
}