/* For larger view */
@media screen and (min-width: 500px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            max-width: 760px;
        }

    #menu {
        display: none;
    }

   main div {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   } 

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }
}